In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r"C:\Users\HP\Desktop\Projects\Climate\climate-risk-index-1.csv")

In [3]:
df

,index,cartodb_id,the_geom,the_geom_webmercator,country,cri_rank,cri_score,fatalities_per_100k_rank,fatalities_per_100k_total,fatalities_rank,fatalities_total,losses_per_gdp__rank,losses_per_gdp__total,losses_usdm_ppp_rank,losses_usdm_ppp_total,rw_country_code,rw_country_name
0,0,1,NaN,NaN,Saudi Arabia,79,72.50,18,0.45,18,140,131,0.0001,119,1.229,SAU,Saudi Arabia
1,1,2,NaN,NaN,Romania,61,61.50,112,0.01,102,1,16,0.6746,11,2797.884,ROU,Romania
2,2,3,NaN,NaN,Spain,69,66.33,74,0.05,47,22,86,0.0394,31,637.070,ESP,Spain
3,3,4,NaN,NaN,Slovenia,135,124.50,114,0.00,114,0,135,NaN,135,0.000,SVN,Slovenia
4,4,5,NaN,NaN,South Sudan,133,117.33,114,0.00,114,0,120,0.0021,122,0.508,SSD,South Sudan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,177,178,NaN,NaN,Seychelles,135,124.50,114,0.00,114,0,135,NaN,135,0.000,SYC,Seychelles
178,178,179,NaN,NaN,Gambia,135,124.50,114,0.00,114,0,135,NaN,135,0.000,GMB,Gambia
179,179,180,NaN,NaN,Togo,131,114.33,104,0.01,102,1,123,0.0012,130,0.130,TGO,Togo
180,180,181,NaN,NaN,Trinidad and Tobago,135,124.50,114,0.00,114,0,135,NaN,135,0.000,TTO,Trinidad and Tobago
181,181,182,NaN,NaN,Tonga,135,124.50,114,0.00,114,0,135,NaN,135,0.000,TON,Tonga

In [4]:
df.isnull().sum()

index                          0
cartodb_id                     0
the_geom                     182
the_geom_webmercator         182
country                        0
cri_rank                       0
cri_score                      0
fatalities_per_100k_rank       0
fatalities_per_100k_total      0
fatalities_rank                0
fatalities_total               0
losses_per_gdp__rank           0
losses_per_gdp__total         51
losses_usdm_ppp_rank           0
losses_usdm_ppp_total          0
rw_country_code                3
rw_country_name                3
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   index                      182 non-null    int64
 1   cartodb_id                 182 non-null    int64
 2   the_geom                   0 non-null      float64
 3   the_geom_webmercator       0 non-null      float64
 4   country                    182 non-null    object
 5   cri_rank                   182 non-null    int64
 6   cri_score                  182 non-null    float64
 7   fatalities_per_100k_rank   182 non-null    int64
 8   fatalities_per_100k_total  182 non-null    float64
 9   fatalities_rank            182 non-null    int64
 10  fatalities_total           182 non-null    int64
 11  losses_per_gdp__rank       182 non-null    int64
 12  losses_per_gdp__total      131 non-null    float64
 13  losses_usdm_ppp_rank       182 non-null    int64
 14  losses_usdm_ppp_total      182 non-null    float64
 15  rw_country_code            179 non-null    object
 16  rw_country_name            179 non-null    object
dtypes: float64(6), int64(8), object(3)
memory usage: 24.3+ KB

In [15]:
df.drop(['the_geom','the_geom_webmercator'],axis = 1,inplace = True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   index                      182 non-null    int64
 1   cartodb_id                 182 non-null    int64
 2   country                    182 non-null    object
 3   cri_rank                   182 non-null    int64
 4   cri_score                  182 non-null    float64
 5   fatalities_per_100k_rank   182 non-null    int64
 6   fatalities_per_100k_total  182 non-null    float64
 7   fatalities_rank            182 non-null    int64
 8   fatalities_total           182 non-null    int64
 9   losses_per_gdp__rank       182 non-null    int64
 10  losses_per_gdp__total      131 non-null    float64
 11  losses_usdm_ppp_rank       182 non-null    int64
 12  losses_usdm_ppp_total      182 non-null    float64
 13  rw_country_code            179 non-null    object
 14  rw_country_name            179 non-null    object
dtypes: float64(4), int64(8), object(3)
memory usage: 21.5+ KB

In [18]:
mean = df['losses_per_gdp__total'].mean()

In [20]:
df['losses_per_gdp__total'].fillna(mean,inplace = True)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   index                      182 non-null    int64
 1   cartodb_id                 182 non-null    int64
 2   country                    182 non-null    object
 3   cri_rank                   182 non-null    int64
 4   cri_score                  182 non-null    float64
 5   fatalities_per_100k_rank   182 non-null    int64
 6   fatalities_per_100k_total  182 non-null    float64
 7   fatalities_rank            182 non-null    int64
 8   fatalities_total           182 non-null    int64
 9   losses_per_gdp__rank       182 non-null    int64
 10  losses_per_gdp__total      182 non-null    float64
 11  losses_usdm_ppp_rank       182 non-null    int64
 12  losses_usdm_ppp_total      182 non-null    float64
 13  rw_country_code            179 non-null    object
 14  rw_country_name            179 non-null    object
dtypes: float64(4), int64(8), object(3)
memory usage: 21.5+ KB

In [22]:
df.dropna(inplace = True)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 179 entries, 0 to 181
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   index                      179 non-null    int64
 1   cartodb_id                 179 non-null    int64
 2   country                    179 non-null    object
 3   cri_rank                   179 non-null    int64
 4   cri_score                  179 non-null    float64
 5   fatalities_per_100k_rank   179 non-null    int64
 6   fatalities_per_100k_total  179 non-null    float64
 7   fatalities_rank            179 non-null    int64
 8   fatalities_total           179 non-null    int64
 9   losses_per_gdp__rank       179 non-null    int64
 10  losses_per_gdp__total      179 non-null    float64
 11  losses_usdm_ppp_rank       179 non-null    int64
 12  losses_usdm_ppp_total      179 non-null    float64
 13  rw_country_code            179 non-null    object
 14  rw_country_name            179 non-null    object
dtypes: float64(4), int64(8), object(3)
memory usage: 22.4+ KB

In [24]:
df.duplicated().sum()

0

In [27]:
df.corr()

,index,cartodb_id,cri_rank,cri_score,fatalities_per_100k_rank,fatalities_per_100k_total,fatalities_rank,fatalities_total,losses_per_gdp__rank,losses_per_gdp__total,losses_usdm_ppp_rank,losses_usdm_ppp_total
index,1.000000,1.000000,0.066129,0.090049,0.014861,0.054163,0.131124,-0.003455,0.048963,0.082771,0.185459,-0.095569
cartodb_id,1.000000,1.000000,0.066129,0.090049,0.014861,0.054163,0.131124,-0.003455,0.048963,0.082771,0.185459,-0.095569
cri_rank,0.066129,0.066129,1.000000,0.992048,0.833149,-0.247510,0.796102,-0.299780,0.854871,-0.151620,0.814919,-0.272639
cri_score,0.090049,0.090049,0.992048,1.000000,0.831365,-0.252298,0.799179,-0.293533,0.866318,-0.154610,0.829412,-0.266617
fatalities_per_100k_rank,0.014861,0.014861,0.833149,0.831365,1.000000,-0.289983,0.830423,-0.295026,0.513147,-0.139589,0.439927,-0.124318
fatalities_per_100k_total,0.054163,0.054163,-0.247510,-0.252298,-0.289983,1.000000,-0.154291,0.067453,-0.213244,0.829115,-0.123214,-0.009489
fatalities_rank,0.131124,0.131124,0.796102,0.799179,0.830423,-0.154291,1.000000,-0.377498,0.424587,0.005140,0.613882,-0.308724
fatalities_total,-0.003455,-0.003455,-0.299780,-0.293533,-0.295026,0.067453,-0.377498,1.000000,-0.136273,-0.031622,-0.273402,0.602952
losses_per_gdp__rank,0.048963,0.048963,0.854871,0.866318,0.513147,-0.213244,0.424587,-0.136273,1.000000,-0.217997,0.795313,-0.208365
losses_per_gdp__total,0.082771,0.082771,-0.151620,-0.154610,-0.139589,0.829115,0.005140,-0.031622,-0.217997,1.000000,-0.048903,-0.024931
losses_usdm_ppp_rank,0.185459,0.185459,0.814919,0.829412,0.439927,-0.123214,0.613882,-0.273402,0.795313,-0.048903,1.000000,-0.351757
losses_usdm_ppp_total,-0.095569,-0.095569,-0.272639,-0.266617,-0.124318,-0.009489,-0.308724,0.602952,-0.208365,-0.024931,-0.351757,1.000000

In [28]:
df.describe()

,index,cartodb_id,cri_rank,cri_score,fatalities_per_100k_rank,fatalities_per_100k_total,fatalities_rank,fatalities_total,losses_per_gdp__rank,losses_per_gdp__total,losses_usdm_ppp_rank,losses_usdm_ppp_total
count,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000
mean,89.368715,90.368715,85.005587,81.611508,78.234637,0.528101,77.290503,88.234637,85.229050,1.533620,85.452514,914.169246
std,52.350035,52.350035,44.816793,34.653027,37.988625,3.421780,37.604902,430.798750,44.845904,6.981483,44.607423,4520.463304
min,0.000000,1.000000,1.000000,12.170000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000100,1.000000,0.000000
25%,44.500000,45.500000,45.000000,52.500000,45.500000,0.000000,45.500000,0.000000,45.500000,0.039100,46.500000,0.000000
50%,89.000000,90.000000,91.000000,77.500000,91.000000,0.020000,90.000000,2.000000,92.000000,0.230100,92.000000,28.500000
75%,133.500000,134.500000,135.000000,124.500000,114.000000,0.125000,114.000000,24.500000,135.000000,1.517654,135.000000,261.303500
max,181.000000,182.000000,135.000000,124.500000,114.000000,43.660000,114.000000,4317.000000,135.000000,77.369400,135.000000,40077.222000